<ion-view >
    <ion-content overflow-scroll="true">
        <ion-scroll delegate-handle="calendarScroll" direction="x">
            <div class="row" style="height: 70px;margin-top: -10px" >
                <div class="col col-40">
                    <div class="row">
                        <div class="col"><button  ng-click="changeSohbet('Güzellik')" class="button  button-clear  button-dark ">Güzellik</button></div>
                    </div>
                </div>
                <div class="col col-40">
                    <div class="row">
                        <div class="col"><button  ng-click="changeSohbet('Makyaj')" class="button  button-clear  button-dark ">Makyaj</button></div>
                    </div>
                </div>
                <div class="col col-40">
                    <div class="row">
                        <div class="col"><button  ng-click="changeSohbet('Saç')" class="button  button-clear  button-dark ">Saç</button></div>
                    </div>
                </div>
                <div class="col col-40">
                    <div class="row">
                        <div class="col"><button  ng-click="changeSohbet('ManikurPedikur')" class="button  button-clear  button-dark ">Manikür & Pedikür</button></div>
                    </div>
                </div>
                <div class="col col-40">
                    <div class="row">
                        <div class="col"><button  ng-click="changeSohbet('DeriSaglıgı')" class="button  button-clear  button-dark ">Deri Sağlığı</button></div>
                    </div>
                </div>
                <div class="col col-40">
                    <div class="row">
                        <div class="col"><button  ng-click="changeSohbet('stil')" class="button  button-clear  button-dark ">Stil & Kombin</button></div>
                    </div>
                </div>
                <div class="col col-40">
                    <div class="row">
                        <div class="col"><button  ng-click="changeSohbet('Profesyonel')" class="button  button-clear  button-dark ">Profesyonel</button></div>
                    </div>
                </div>

                <div class="col col-40">
                    <div class="row">
                        <div class="col"><button  ng-click="changeSohbet('organizasyon')" class="button  button-clear  button-dark ">Organizasyon</button></div>
                    </div>
                </div>

                <div class="col col-40">
                    <div class="row">
                        <div class="col"><button  ng-click="changeSohbet('promosyon')" class="button  button-clear  button-dark ">Promosyon</button></div>
                    </div>
                </div>
            </div>
        </ion-scroll>
        <div class="row row-bottom">

                <div class="col">
                    <a class="button button-icon icon ion-plus-circled" href="#/createPost">&nbsp;&nbsp;&nbsp;Yeni Konu</a>
                </div>


        </div>
        <ion-list>
            <ion-item ng-repeat="card in cards">
                <div class="list card">

                    <div class="item item-avatar">
                        <img src="mcfly.jpg">
                        <h2>{{card.baslik}}</h2>
                        <p>{{card.kategori}}</p>
                    </div>

                    <div class="item item-body">
                        <img class="full-image" src="delorean.jpg">
                        <p>
                            {{card.icerik}}
                        </p>
                        <p>
                            <a href="#" class="subdued">{{card.begeniler}}</a>
                            <a href="#" class="subdued">{{card.yorumlar}}</a>
                        </p>
                    </div>
                </div>

           </ion-item>
        </ion-list>
    </ion-content>

</ion-view>





